@import '../../styles/vars.sass'

.list-item
  display: flex
  justify-content: space-between
  padding: 1em 1.4em
  border-bottom: 1px solid $secondary-bg-color

  &:last-child 
    border-bottom: none
  
  &:hover
    background-color: $secondary-bg-color

  .item-controls
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
  
  .indicator
    width: 1.2em
    height: 1.2em
    border-radius: 50%
    border: 1px solid $primary-bg-color
    margin-right: 1.8em
    cursor: pointer

    &.active
      background-color: $primary-bg-color
  
  .edit-icon
    margin-right: 1em
    cursor: pointer
  
  .remove-icon
    cursor: pointer

  .title-input
    background-color: transparent
    font-size: 1.1em
  
  .modal
    display: flex
    flex-direction: column
    align-items: center
    padding: 1.8em 0

    button
      background-color: $primary-bg-color
      color: white
      font-size: 1.4em
      padding: .5em
      margin: 1em .6em 0 .6em
      cursor: pointer
      opacity: .8

      &:hover
        opacity: 1

    h3
      font-size: 1.7em