@import './reset'
@import './vars'

body, #root
  width: 100vw
  min-height: 100vh
  font-family: sans-serif
  font-size: 14px
  display: flex
  align-items: center

.container
  max-width: 350px
  width: 100%
  display: flex
  flex-direction: column
  margin: 0 auto

  ul
    border: 1px solid $secondary-bg-color

  .add-button
    width: 100%
    text-align: center
    padding: 1em
    box-sizing: border-box
    background-color: $primary-bg-color
    opacity: .8
    cursor: pointer
    color: white
    margin-top: 1.6em
    font-size: 1.1em

    &:hover
      opacity: 1